.Yellow-Color{

color: orange;

}
.top-gaph{

    padding-top: 30px;
}
body{
margin: 0;

font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
  
}
.flexible-container{


    display: flex;
    margin-bottom: 100px;
}
.half-width{

width: 50%;
padding-left: 2%


}
.half-width img{

width: 80%;

background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}

.link-button{
color: white;
font-weight: 700;
background-image: linear-gradient(orange, tomato);
    text-decoration: none;
padding: 10px 40px;
border-radius: 6px;

}

.top-banner{

background-image: url(images/top-banner.png);
background-repeat: no-repeat;


}

.dream-big{


background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;

}


.experience-area{


background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left 70px;


}

.experience-item
{

width: 40%;
padding-left: 5%;
padding-right: 5%;
box-shadow: 10px 10px 50px gray;
border-radius: 10px;
}

.experience-gap{


margin-bottom:  70px;
margin-left: 80px;



}

#stack-experience{

    border-left: 10px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
    margin-left: 50px;
}
#baby-dev{

    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
margin-left: 50px;
}